<script id="hamburger" type="text/x-handlebars-template">

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<textarea rows="4" cols="50">
</textarea>

  <input type="submit" class="btnStyle" value="Submit Button">




